doctype html
html(lang="fr")#chat-object
    head
        title= "Admin du chat de juanwolf.fr"
        link(type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css")
        script(src="/js/lib/JQuery1.11.js")
        script(src="/admin.js")
        script(src="/socket.io/socket.io.js")
    body#admin-body
        form.form(action="")
            input#name(placeholder="Entre ton blaze beaugosse")
            // Veuillez ne pas remplir ce champs. Il est destiné au robot parcourant le web afin de le détruire. (Injures censurées)
            input#trap
            input#connection(type="submit", value="Connexion")
        #content
            