doctype html
html(lang="en")#chat-object
    head
        title= "Juanwolf's Chat"
        link(type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css")
        script(src="/js/lib/JQuery1.11.js")
        script(src="/client.js")
        script(src="/socket.io/socket.io.js")
    body
        form.form
            input#name(placeholder="Type your username here...")
            // Don't add anything in this fields. It's to trap bad robot which explore all the web to destroy it. (Insults Censured)
            input#trap
            input#connection(type="submit", value="Connection")
        #admin-state
        #content
        form.send-block
            textarea#field
            span
                input#enter-event-checkbox(type="checkbox")
                | Enter to send
            input#send(type="submit", value="Send")
