doctype html
html(lang="fr")#chat-object
    head
        title= "Chat de Juanwolf"
        link(type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css")
        script(src="/js/lib/JQuery1.11.js")
        script(src="/client.js")
        script(src="/socket.io/socket.io.js")
    body
        form.form
            input#name(placeholder="Entrez votre nom ici...")
            // Veuillez ne pas remplir ce champs. Il est destiné au robot parcourant le web afin de le détruire. (Injures censurées)
            input#trap
            input#connection(type="submit", value="Connexion")
        #admin-state
        #content
        form.send-block
            textarea#field
            span
                input#enter-event-checkbox(type="checkbox")
                | Entrée pour envoyer.
            input#send(type="submit", value="Envoyer")
